{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content%}

  <div>
    <p>{{ review.user.username }}</p>
    <p>{{ review.title }}</p>
    <p>{{ review.content }}</p>
    <p>{{ review.movie_name }}</p>
    <p>{{ review.grade }}</p>
  </div>

  <a href="{% url 'reviews:index' %}">
    목록
  </a>
  {% if review.user == request.user %}
  <a href="{% url 'reviews:update' review.pk %}">
    수정
  </a>
  <a href="{% url 'reviews:delete' review.pk %}">
    삭제
  </a>
  {% endif %}


{% endblock content%}
