{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content%}
  <div class="mx-5 my-4">
    <div>
      <div class="mb-4 d-flex justify-content-between align-items-center">

        <div class="d-flex justify-content-between align-items-center">
          <div class="rounded-circle bg-light" style="width:45px; height:45px; background-image:url({{ review.user.profile_image.url }}); background-repeat:no-repeat; background-position:center; background-size:contain;);"></div>
          <div class="mx-3 d-flex flex-column justify-content-center align-items-start">
            <p class="m-0 fw-bold">{{ review.user.name }}</p>
            <p class="m-0">{{ review.created_at }}</p>
          </div>
        </div>

        <div>
          {% if review.user == request.user %}
            <a class="btn btn-secondary" href="{% url 'reviews:update' review.pk %}">
              수정
            </a>
            <a class="btn btn-secondary" href="{% url 'reviews:delete' review.pk %}">
              삭제
            </a>
          {% endif %}
        </div>
      </div>

      <div class="mb-2 p-3 border border-2 rounded-2">
        <h3 class="mb-4 fw-bold">{{ review.title }}</h3>
        <hr>
        <h4 class="mb-4">영화 제목 |
          {{ review.movie_name }}</h4>
        <h5 class="mb-4">평점
          {{ review.grade }}⭐</h5>
        <hr>
        <p>{{ review.content }}</p>
      </div>
    </div>

    <hr>

    {% if request.user.is_authenticated %}
      <form action="{% url 'reviews:comments_create' review.pk %}" method="POST">
        {% csrf_token %}

        <div class="form-floating my-4 d-flex justify-content-end">
          <input type="text" class="form-control" id="floatingComment" placeholder="comment" name="content">
          <label class="text-secondary" for="floatingComment">댓글을 입력하세요.</label>
          <input class="ms-3 py-0 btn btn-primary" type="submit" value="댓글작성">
        </div>
      </form>
    {% endif %}

    {% for comment in comments %}
      <div class="d-flex justify-content-between align-items-center mb-2 p-3 border border-2 rounded-2">
        <div class="d-flex justify-content-between align-items-center">
          <div class="me-3 rounded-circle bg-light" style="width:45px; height:45px; background-image:url({{ comment.user.profile_image.url }}); background-repeat:no-repeat; background-position:center; background-size:contain;);"></div>
          <span class="me-2 fw-bold">{{ comment.user.name }}</span>
          |
          {{ comment.content }}
        </div>
        {% if comment.user == request.user %}
          <div class="d-flex justify-content-end">
            <a class="btn btn-danger" href="{% url 'reviews:comments_delete' review.pk comment.pk  %}">
              삭제
            </a>
          </div>
        {% endif %}
      </div>
    {% endfor %}

  </div>

{% endblock content%}
