{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content%}

  <div>
    <p>{{ review.user.username }}</p>
    <p>{{ review.title }}</p>
    <p>{{ review.content }}</p>
    <p>{{ review.movie_name }}</p>
    <p>{{ review.grade }}</p>
  </div>

  <a href="{% url 'reviews:index' %}">
    목록
  </a>
  {% if review.user == request.user %}
    <a href="{% url 'reviews:update' review.pk %}">
      수정
    </a>
    <a href="{% url 'reviews:delete' review.pk %}">
      삭제
    </a>
  {% endif %}

  <form action="{% url 'reviews:comments_create' review.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <input type="submit" value="댓글작성">
  </form>

  {% for comment in comments %}
    <div>
      {{ comment.user.username}}
      |
      {{ comment.content }}
    </div>
  {% endfor %}

{% endblock content%}
