{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content%}
  <div class="col-9 my-4 mx-5 px-4">
    <h2 class="mb-5 fw-bold">대시보드</h2>
    {% for review in reviews %}
      <div class="mb-4 d-flex justify-content-between align-items-center">
        <div>
          <p class="mb-3 text-secondary">{{ review.created_at|date:'Y년 m월 d일' }}</p>
          <h2 class="mb-3 fw-bold">{{ review.title }}</h2>
          <a class="text-decoration-none" href="{% url 'reviews:detail' review.pk %}">자세히 보기</a>
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-center align-items-center">
            <p class="m-0 mx-2 fw-light">댓글
              {{ review.comment_set.count }}</p>
            <div class="rounded-circle bg-light" style="width:45px; height:45px; background-image:url({{ review.user.profile_image.url }}); background-repeat:no-repeat; background-position:center; background-size:contain;);"></div>
            <p class="m-0 mx-2 fw-bold">{{ review.user.name }}</p>
          </div>
        </div>
      </div>
      <hr>
    {% endfor %}

  </div>

{% endblock content%}
