{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}{% endblock body %}

{% block content %}{% endblock content %}

{% block form %}
  <div class="d-flex justify-content-center" style="background-color: rgb(250, 250, 250); height: 100vh;">
    <div class="d-flex flex-column justify-content-center" style="width: 25rem;">
      <div class="mb-4">
        <h1 class="mb-3 text-center display-4 fw-bold" style="color: rgb(129, 228, 129);">Kinglaverse</h1>
        <h5 class="text-center text-secondary fw-bold">회원 가입</h5>
      </div>

      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-floating">
          <input type="text" class="form-control" placeholder="username" name="username">
          <label for="floatingInput">아이디</label>
        </div>

        <div class="form-floating my-4">
          <input type="text" class="form-control" placeholder="name" name="name">
          <label for="floatingInput">이름</label>
        </div>

        <div class="form-floating my-4">
          <input type="password" class="form-control" placeholder="Password" name="password1">
          <label for="floatingPassword">비밀번호</label>
        </div>

        <div class="form-floating my-4">
          <input type="password" class="form-control" placeholder="Password" name="password2">
          <label for="floatingPassword">비밀번호 확인</label>
        </div>

        <div class="my-4">
          <label for="formFile" class="form-label">프로필 이미지</label>
          <input class="form-control" type="file" id="formFile" name="profile_image">
        </div>

        <div style="height: 3rem;">
          <input class="btn btn-success w-100 h-100 fw-bold" type="submit" value="가입하기"></input>
        </div>
      </form>

      <div style="line-height: 4rem;">
        <a href="{% url 'accounts:login' %}" class="d-flex justify-content-center text-decoration-none text-secondary">메인으로 돌아가기</a>
      </div>
    </div>
  </div>
{% endblock form %}
