{% load static %}
{% load django_bootstrap5 %}

<!doctype html>
<html lang="en">

  <head>
    <title>Kinglaverse</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% bootstrap_css %}
    <link rel="icon" href="{% static 'image/favicon.ico' %}" />
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" />
  </head>

  <body style="height:2000px">
    {% block body %}
    {% comment %} navbar {% endcomment %}
    <nav class="navbar sticky-top p-0 border-bottom bg-light bg-opacity-50" style="z-index:1; ">
      <h3 class="m-0 fw-bold" style="padding-left:300px; line-height:5rem;">KDT 1기 2회차</h3>
    </nav>
    
    <div class="container-fluid p-0">
      <div class="row w-100 d-flex">
        <div class="p-0 border-end fixed-top bg-light bg-opacity-50" style="width:250px; height:100vh; z-index:5;">
          {% comment %} profile {% endcomment %}
          <div class="dropdown px-4 py-3" style="height:5rem; z-index:2;">
            <a class="btn start-0 d-flex justify-content-center align-items-center dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% if request.user.profile_image %}
              <div class="rounded-circle bg-white" style="width:35px; height:35px; background-image:url({{ request.user.profile_image.url }}); background-repeat:no-repeat; background-position:center; background-size:contain;);"></div>
              {% else %}
              <div class="rounded-circle" style="width:35px; height:35px; background-image:url('https://dummyimage.com/35x35/000/fff');"></div>
              {% endif %}
              <div class="ms-2 text-start">
                <p class="m-0 fw-bold" style="font-size:15px;">{{ request.user.name}}</p>
                <p class="m-0 text-secondary" style="font-size:12px;">{{ request.user.username}}</p>
              </div>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">프로필</a></li>
              <li>
                <a class="dropdown-item" href="{% url 'accounts:logout' %}">로그아웃</a></li>
              </ul>
          </div>
            
          {% comment %} aside list {% endcomment %}
          <aside class="" style="z-index: 0;">
            <ul class="list-group mx-5 my-4">
              <a class="aside-link text-decoration-none" href="{% url 'reviews:create' %}">
                <li class="list-group-item py-3 d-flex justify-content-start align-items-center text-secondary fw-bold border-0 bg-light bg-opacity-25" style="font-size:16px;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-3 pr-3" style="width:18px;"><path d="M2.695 14.763l-1.262 3.154a.5.5 0 00.65.65l3.155-1.262a4 4 0 001.343-.885L17.5 5.5a2.121 2.121 0 00-3-3L3.58 13.42a4 4 0 00-.885 1.343z"></path></svg>
                  <span class="ms-2">리뷰 작성</span>
                </li>
              </a>
              <a class="aside-link text-decoration-none" href="{% url 'reviews:index' %}">
                <li class="list-group-item py-3 d-flex justify-content-start align-items-center text-secondary fw-bold border-0 bg-light bg-opacity-25" style="font-size:16px;">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-3 pr-3" viewBox="0 0 20 20" fill="currentColor" style="width:18px;"><path d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6zM14 9a1 1 0 00-1 1v6a1 1 0 001 1h2a1 1 0 001-1v-6a1 1 0 00-1-1h-2z"></path></svg>
                  <span class="ms-2">리뷰 목록</span>
                </li>
              </a>
            </ul>
          </aside>
        </div>
      </div>
      {% endblock body %}
      
      {% comment %} main section {% endcomment %}
      <div class="" style="padding-left:250px; z-index:0;">
        {% block content %}{% endblock content %}
      </div>

      {% block form %}{% endblock form %}

    </div>
    {% bootstrap_javascript %}
  </body>

</html>